//
// Widget/Logo
//
// @1: Setup logo
//


//
// @1: Setup logo
//
.logo {
    text-align: center;

    .anchor-text {
        font-size: 3em;
        padding: 0.25em 0
    }
    a, img {
      display: block;
      margin-bottom: 0;
    }
}
