// ==========================================================================
// Elementer
// ==========================================================================

html,
input,
textarea,
button {
    font-family: $font-family-base;
    color: $font-color-primary;
}

$image-background: "" !default;
@if $image-background != "" {
    body {
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url($image-background);
    }
}

body {
        background-color: $design-body-background-color;
}

// ==========================================================================
// Site
// ==========================================================================
.container {
    border-left: 1px solid $design-border-color;
    border-right: 1px solid $design-border-color;
}
.container--corporate {
    background-color: $design-header-background-color;
    border-top: 1px solid $design-border-color;
    + .container--header {
        border-top: none;
    }
}
    .site-corporate {
    }
.container--header {
    border-top: 1px solid $design-border-color;
    background-color: $design-header-background-color;
}
.container--navigation {
    background-color: $design-header-background-color;
}
    .site-header {
    }
    .site-wrapper {
        background-color: $design-wrapper-background-color;
    }
.container--footer {
    background-color: $design-footer-background-color;
    color: $font-color-footer;

    $image-background-footer: "" !default;
    @if $image-background-footer != "" {
        background-image: url($image-background-footer);
        border-color: transparent !important;
    }

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: $font-color-footer;
    }

    a,
    a:visited {
        color: lodp($font-color-footer, 15%);
        &:hover {
            color: $font-color-footer;
            text-decoration: underline;
        }
    }
}
    .site-footer {
        // border-top: 1px solid darken($design-footer-background-color, 10%);
    }
