/*
# Description

## Date last modified: 2018-05-03

*/

.privacyPolicyContainer,
.termsAndConditionsContainer {
	.privacyPolicyLink,
	.termsAndConditionsLink {
		text-decoration: underline;
	}
}