
//
// Search
//
// @1: Header search in corporate
//




//
// @1: Header search in corporate
//

.container--corporate {
    .search-module {
        padding-left:10px;
        padding-right:20px;
    }
    .corporate__search {
        font-size: 1em;
        margin-top: 0.25em;
    }

    input.corporate__searchinput {
        border: none;
        line-height: 1;
    }

    .corporate__searchbutton {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        display: inline-block;
        width: auto;
        border: 0;
        border-radius: 0;
        font-size: .875em;
        vertical-align: middle;
    }
}


