// ==========================================================================
// Site
// ==========================================================================
body {
    padding-top: 2em;
}
.container {
    @include to(2) {
        width: auto;
    }
}
.container--corporate.container--corporate {
    padding-left: 0;
    padding-right: 0;
}
    .site-corporate {
        padding: 1em 10px 0.5em;

        .dropdown-pickers {

        }
        hr {
            margin: 0.5em auto;
        }
    }

.container--corporate + .container--header {
    margin-top: 0;
}
.container--header {
    margin-top: 2em;
}
    .site-header {
        padding: .5em 0;
    }

.site-navigation {
    padding: .5em 0;
}

.site-slider {}

.site-content {
    position: relative;

    > .container {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.container--footer {
    margin-bottom: 3em;
}
.site-footer {
    padding: 3em 0 0;
}

.column .column-module-text img {
    max-width: 100%;
    height: auto;
    display: block;
}

.site-main-content {
    padding-bottom: 2em;
}

.page-title {
    margin: 0 0 .95em;
    padding: 0 0 1em;

        h1, .h1,
        h2, .h2,
        h3, .h3,
        h4, .h4,
        h5, .h5,
        h6, .h6 {
            font-weight: bold;
            &:first-child {
                margin-bottom: 0;
            }
        }
}

.page-title-frontpage {
    margin: 0 0 .95em;
    padding: 1em 0;
    text-align: center;
}

.text-body {
    margin-bottom: 1em;
}

.dropdown-container .media-item,
.quick-cart-expanded-total {
    font-size: .95em;
}

img.responsive {
    width: auto !important;
    height: auto !important;
}
.container--footer {
    background-position: center top;
    background-repeat: no-repeat;
}

.button, .button-primary, .button-text {
    -webkit-background-clip: initial;
    -moz-background-clip: initial;
    background-clip: initial;
}

//
// LazyLoad
//
:not(.ielt9) .placeholder-wrapper {
    width: 100%;
    box-sizing: content-box;
    position: relative;
    height: auto;
    display: inline-block;
}
:not(.ielt9) .placeholder-wrapper > .placeholder {
    display: block;
    width: 100%;
    padding-top: 100%;
}
:not(.ielt9) .placeholder-wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.ielt9 .lazyOwl,
.ielt9 .lazyload {
    display: none !important;
}
.lazyload,
.lazyloading,
.lazyloaded {
    opacity: 0;
    transition: opacity 0.3s;
}
img.lazyloaded {
    opacity: 1;
}

//
// touch screens: avoid zoom on inputs
//
html.touch {
    .form-input,
    .form-input.input-group-main {
        font-size: 16px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        &.form-select {
            padding: 0 0.5em;
        }
    }
}