//
// Theme menu style
//
// @1: Navigation font
// @2: Navigation
//



//
// @1: Navigation font
//
.site-navigation {
    .nav-default > li > a,
    .w-language-picker,
    .w-language-picker button,
    .w-currency-picker,
    .w-currency-picker button,
    .quick-cart-link {
    	font-family: $font-family-headline;
    }
}
.site-corporate {
    .w-language-picker,
    .w-language-picker button,
    .w-currency-picker,
    .w-currency-picker button,
    .m-usp {
        font-family: $font-family-headline;
    }
}



