/*
# Description

## Date last modified

*/

@include from(3) {
	.navbar {
		&.navbar-tablet-full {
			.nav {
				.dropdown {
					position: relative;

					.dropdown-menu {
						position: absolute;
					}
				}
			}
			.navbar-collapse,
			.navbar-collapse.is-collapsed {
				display: table-cell;
				width: 10000000px;
				padding: 0;
				opacity: 1;

				.nav {
					> li {
						display: -moz-inline-stack;
						display: inline-block;
						vertical-align: middle;
						zoom: 1;
						float: left;
						padding: 0;

						> a {
							float: left;
						}
					}
				}
			}

			.navbar-toggle {
				display: none;
			}
		}
	}

	.site-navigation {
		.item-primary {
			padding: .5em .75em;
    		font-size: 1em;
		}
		.nav > li.w-menu-item.dropdown.dropdown {
			a.item-primary {
				padding-right: 0;
			}
		}

		.dropdown-menu li a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@include from(4) {

	.marker {
		line-height: 1.4;
		.fa-border {
			border-color: transparent !important;
			padding-right: 0px;
			padding-left: 0px;
			border-right: 0;
			width: auto;
		}
	}
}
