.m-product-information {
    .m-product-price {
        color: $font-color-headline;
    }
    .m-product-price-before-discount {
        color: $font-color-primary;
    }
}
figure.m-product-image .product-image img {
    border: 1px solid $design-border-color;
}
