.category-item-image img {
    border: 1px solid $design-border-color;
}
.category-item-title {
    a,
    a:visited,
    h4 {
        font-family: $font-family-headline;
        color: $font-color-headline !important;

        &:hover {
            color: dolp($font-color-headline, 20%) !important;
        }
    }
}
