.productItem {

    .title {
        h4, .h4 {
    		color: $font-color-headline !important;
        }
    }
	.type-col {
		.m-productlist-figure img {
			border: 1px solid $design-border-color;
		}
		.product-transaction {
			// border-top: 1px solid $design-border-color;
			// background: $design-box-background-color;
		}

		.product-delivery {
			// border-bottom: 1px solid $design-border-color;
		}
	}

	.type-row {
		.m-productlist-figure img {
			border: 1px solid $design-border-color;
		}
		.product-transaction {
			// border-top: 1px solid $design-border-color;
			// background: $design-box-background-color;
		}

		.product-delivery {
			// border-bottom: 1px solid $design-border-color;
		}
	}

	.type-col,
	.type-row {
		border: 1px solid transparent;

		&:hover {
			border-color: $design-border-color;
		}
	}

	.m-productlist-price-before-discount {
		color: $font-color-primary;
	}
	.m-productlist-price {
		color: $font-color-headline;
	}
}
