.angular-productlist {
    min-height: 400px;
}
.categorylist + .angular-productlist {
    min-height: 0;
}
.productItem {
    margin-bottom:3em;

    .image {
        position: relative;
    }

    .title {
        margin-bottom: 1em;

        h4,.h4 {
            margin-bottom: .25em;
            font-weight: bold;
        }
    }

    .product-delivery {
        margin: 0 0 1em;

    }

    .paymentOption {
        margin: 1.5em 0 .5em 0;
    }

    .variants {
        margin-bottom: 1em;
    }

    .figure {
        a, img {
            display: block;
        }
    }

    .description {
        margin-bottom: 1em;
    }

    .productContent {
        @include clearfix;

        .separator:last-child {
            margin-bottom: 0;
        }

        .image a {
            display: block;
        }
    }

    .product-price-terms {
        font-size: .85em;
    }

    // type-col styling

    .type-col {
        .productContent {
            text-align: center;
            padding-bottom: 1em;
        }
        .prices {
            text-align: center;

        }
        .m-productlist-discount {
            display: inline-block;
        }
        .is-block.m-productlist-price-before-discount,
        .is-block.m-productlist-price {
            display: inline-block;
            width: auto !important;
        }
            .is-block.m-productlist-price-before-discount {
                font-size: 0.9em;
            }
            .is-block.m-productlist-price {
                font-size: 1.1em;
                font-weight: bold;
            }

        .title,
        .product-delivery,
        .description,
        .m-reviews-stars {
            padding: 0 1em;
        }

        .product-transaction {
            padding: 1em;
            margin-bottom: .5em;
        }

        .product-action {
            margin: 1em 0 0;
        }
    }

    // type-row styling

    .type-row {
        .product-transaction {
            padding: 1em;
        }

        .image img {
            margin-bottom: 0;
        }
        .prices {
            text-align: center;

        }
        .m-productlist-discount {
            display: inline-block;
        }
        .is-block.m-productlist-price-before-discount,
        .is-block.m-productlist-price {
            display: inline-block;
            width: auto !important;
        }
            .is-block.m-productlist-price-before-discount {
                font-size: 0.9em;
            }
            .is-block.m-productlist-price {
                font-size: 1.1em;
                font-weight: bold;
            }
        .title,
        .product-delivery,
        .description,
        .m-reviews-stars {
            padding: 0 1em;
        }

        @include from (3) {
            .title,
            .product-delivery,
            .description,
            .m-reviews-stars {
                padding: 1em 0;
                margin: 0;
            }
        }

        @include from (4) {
            .m-productlist-offer {
                &.l-default-height {
                    .product-transaction {
                        min-height: 293px;
                        margin: 0;
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
