
//
// Search
//
// @1: Header search in corporate
//




//
// @1: Header search in corporate
//

.container--corporate {
    .corporate__searchinput,
    .corporate__searchbutton {
        background-color: transparent;

    }
    .corporate__searchinput.corporate__searchinput {
        color: dolp($design-navigation-font-color, 15%);
        border-bottom-color: $design-navigation-font-color;
        font-family: $font-family-headline;

        &:hover,
        &:focus {
            color: dolp($design-navigation-font-color, 30%);
        }
    }
    .corporate__searchbutton {
        color: $design-navigation-font-color;

        &:hover {
            color: dolp($design-navigation-font-color, 15%);
        }
    }
}

