/*
# Description

## Date last modified

*/

//
// Quick cart
//

.m-quick-cart__count{
	padding: 8px 4px;
	top: -2px;
	right: -3px;
	position: absolute;
}

// .container--corporate {
//     .cart-module {
//         padding-left:10px;
//         padding-right:10px;

//         @include from(3) {
//             width: auto;
//         }
//     }
//     .m-quick-cart__buttonwrap {
//         position: relative;
//     }
//         .m-quick-cart__count {
//             position: absolute;
//             top: -7px;
//             right: -14px;
//             padding: 0 .25em;
//             border-radius: 2em;
//             font-size: 11px;
//             min-height: 2em;
//             min-width: 2em;
//             line-height: 2;
//             text-align: center;
//             border: 1px solid transparent;
//             z-index: 99;
//         }
//     .quick-cart-link {

//     }
// }
// .m-quick-cart > .dropdown > a {
//     font-size: 1em;
// }

.site-navigation {
    .quick-cart-link {
        padding: .5em .75em;
        font-size: 1em;
        display: inline-block;
        line-height: 1.5;
    }
}
