
// ==========================================================================
// Heading
// ==========================================================================

//
// Headings at large desktop (scaled up / down via responsive sizes)
//

$h1                             : 23px;
$h2                             : 21px;
$h3                             : 20px;
$h4                             : 18px;
$h5                             : 16px;
$h6                             : 14px;

//
// Custom font (only loading Raleway normal due to an otherwise heavy mobile load)
//

$sizes: h1 $h1, h2 $h2, h3 $h3, h4 $h4, h5 $h5, h6 $h6;
@each $size in $sizes {
    #{nth($size, 1)}, .#{nth($size, 1)} {
        @include adjust-font-size-to(nth($size, 2));
        font-weight: normal;
        line-height: 1.3;
    }
}

// ==========================================================================
// Type
// ==========================================================================

a {
  text-decoration: none;
}

p {
  line-height: 1.2em;
}
