// ==========================================================================
// DROPDOWN
// ==========================================================================

.dropdown-container {
    border-color: $design-border-color;

    .divider,
    .dropdown-header,
    .dropdown-body,
    .dropdown-footer {
        border-color: $design-border-color;
    }
}

.site-navigation {

    .nav-default,
    .nav-menu {

        > li {
            &:hover {
                background-color: dolp($design-navigation-background-color, 5%);
            }
            &.active {
                background-color: $design-navigation-background-color;
            }

            a {
                color: $design-navigation-font-color;
            }

            &:hover,
            &:focus,
            &.active {
                .fa,
                a {
                    color: $design-navigation-font-hover-color;
                }
            }
        }
        .dropdown-container {
            li {
                &.active {
                    a {
                        color: $design-navigation-font-hover-color;
                    }
                }
            }
            a {
                color: $design-navigation-font-color;
                &:hover {
                    color: dolp($design-navigation-font-color, 10%);
                }
            }
            .dropdown-container {
                a {
                    color: dolp($design-navigation-font-color, 10%);
                    &:hover {
                        color: dolp($design-navigation-font-color, 16%);
                    }
                }
                .dropdown-container {
                    a {
                        color: dolp($design-navigation-font-color, 16%);
                        &:hover {
                            color: dolp($design-navigation-font-color, 24%);
                        }
                    }
                }
            }
        }
    }

    .dropdown-container {
        background-color: $design-body-background-color;
        color: $design-navigation-font-color;

        @media screen and (min-width: 960px) {
            //border-color: dolp($design-navigation-background-color, 20%);
        }

        .dropdown-header {
            background-color: dolp($design-navigation-background-color, 15%);
        }

        li {
            &.active {
                background-color: $design-navigation-background-color;
            }
        }

        .divider,
        .dropdown-header,
        .dropdown-body,
        .dropdown-footer,
        hr {
            border-color: dolp($design-navigation-font-color, 20%);
        }
    }

    .t-striped {
        > li:nth-child(odd) {
            background-color: dolp($design-navigation-background-color, 10%);
        }
    }

    .marker {
        color: dolp($design-navigation-font-color, 20%);
    }
}

