.m-cart-salesline-title {
	color: $font-color-primary;
}
.m-quick-cart__count{
	background: $font-color-headline;
	color: $design-header-background-color;
}
// cart small
// .container--corporate {
//     .quick-cart-link,
//     .quick-cart-link .fa {
//         background-color: transparent;
//         color: $design-navigation-font-color;

//         &:hover {
//             color: dolp($design-navigation-font-color, 15%);
//         }
//     }
//     .m-quick-cart__count {
//         background-color: $design-header-background-color;
//         color: dolp($design-navigation-font-color, 5%);
//         border-color: $design-border-color !important;
//     }

//    .dropdown-container {
//         background-color: $design-body-background-color;

//         .divider,
//         .dropdown-footer {
//             border-color: transparent;
//         }

//         .dropdown-header {
//             background-color: dolp($design-body-background-color, 5%);
//             border-color: dolp($design-body-background-color, 5%);
//         }

//         li > a {
//             color: $color-font-base;
//             &:hover {
//                 color: dolp($color-dropdown-font, 10%);
//             }
//         }
//    }
// }
